@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Press Start 2P";
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}
#main {
    grid-area: main;
}
#new-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    border-top: 1px solid #3f3f3f;
}
#messages-list {
    padding: 5px 0 0 5px;
}
#sidebar {
    grid-area: sidebar;
    padding: 5px 0 0 5px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0,0.5);
}
.forma {
  width: 400px;
  margin: 10% auto;
  border: 1px solid orange;
  padding: 10px;
  background: royalblue;
}
.input_enter_name {
  padding: 10px;
  width: 50%;
  margin: 12px auto;
  display: block;
}
h1 {
  text-align: center;
}
.each_message {
  margin-top: 10px;
}
.sidebar_user {
  margin-top: 10px;
  border-bottom: 1px solid black;
}